.label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}